/* App.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.App {
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-top: 50px;
}

h1 {
  color:white;
  text-shadow: black;
  animation: fadeIn 1s ease-out;
  animation: floatUp 1s ease-out;
}

input, button {
  padding: 10px;
  margin: 10px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #009eb3;
  color: white;
  border:transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
  
}

.todo-item {
  display: flex;
  border:transparent;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
  animation: floatUp 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.todo-item button {
  margin-left: 10px;
}

.todo-item.completed {
  text-decoration: line-through;
  border:transparent;
  color: #888;
  background-color: #008820; /* Light green background */
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}
